.pointscreenstyle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    .teampoints {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 3rem 0 3rem;
        margin: 0.5rem;
        border: 1px solid transparent;
        background-color: #1a1a1a;
        border-radius: 1rem;
        transition: all 0.2s ease-in-out;
        min-width: 15rem;
        // &:hover {
        //     background-color: #eee;
        // }
    }
}