.gamemasterstyle {
    max-width: 1280px;
    margin: auto;

    h3 {
        font-size: 1.8rem;
    }

    button {
        min-width: none;
    }

    .horizontalpanel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .song {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem 0 3rem;
        margin: 0.5rem;
        border: 1px solid transparent;
        background-color: #1a1a1a;
        border-radius: 1rem;
        transition: all 0.2s ease-in-out;
        // &:hover {
        //     background-color: #eee;
        // }
    }

    .songbutton {
        padding: 0 2rem;
    }

    .active {
        background-color: rgba(255, 255, 255, 0.87);
        color: #1a1a1a;
        filter: drop-shadow(0 0 2rem #646cffaa);
    }

    .punctationbutton {
        display: inline-block;
        min-width: 20rem;
    }

    .playedsong {
        opacity: 0.5;
        color: #888;
        background-color: #494848;
        filter: none;
    }

}