.trackResult {
    .trackElement {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 0.5rem;
        padding: 0.1rem 1rem;

        background-color: var(--buttonPrimaryColor);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        border: solid var(--secondaryColor);
        border-width: 0 0 0.1rem 0;
        opacity: 0;
        
        .trackData {
            width: calc(100% - 8rem);
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            justify-items: start;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .playIcon {
            position: absolute;
            right: 0;
            margin: 1.25rem;
        }

        h3,
        h4 {
            margin: 1rem 0 ;
        }

        img {
            width: 64px;
            height: 64px;
        }

    }

    .active {
        background-color: var(--secondaryColor);
        color: var(--primaryTextColor);
        filter: drop-shadow(0 0 2rem var(--dropShadowColor));
        border-bottom: 0.1rem solid var(--buttonPrimaryColor);

    }

    .loaded {
        opacity: 1;
    }
}