.gamestyle {
    max-width: 1280px;
    margin: auto;

    .logo {
        height: 5rem;
        // padding: 1.5em;
        will-change: filter;
        transition: filter 300ms;
        filter: drop-shadow(0 0 2em #646cffaa);
    }

    .teampoints {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 3rem 0 3rem;
        margin: 0.5rem;
        border: 1px solid transparent;
        background-color: #1a1a1a;
        border-radius: 1rem;
        transition: all 0.2s ease-in-out;
        min-width: 15rem;
        // &:hover {
        //     background-color: #eee;
        // }
    }

    transition: all 0.2s ease-in-out;

    .visible {
        visibility: visible;
        opacity: 1;
        transition: visibility 0.2s, opacity 0.5s linear;
    }

    .hidden {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.2s, opacity 0.5s linear;
        height: 0;
        overflow: hidden;
    }

    // button:hover:enabled {
    //     border-color: #1a1a1a;
    //     cursor: default; //TODO change punctations from buttons
    // }
}