.gamestyle {
    .logo {
        height: 10rem;
        // padding: 1.5em;
        will-change: filter;
        transition: filter 300ms;
        filter: drop-shadow(0 0 2em #646cffaa);
    }
    
    button {
        min-width: 20rem;
    }

    // button:hover:enabled {
    //     border-color: #1a1a1a;
    //     cursor: default; //TODO change punctations from buttons
    // }
}