:root {
    --primaryColor: #FAF0E4;
    --secondaryColor: #DBE2EF;
    --tertiaryColor: #3F72AF;
    --quaternaryColor: #112D4E;

    --primaryTextColor: #242424;
    --secondaryTextColor: #fff;
    --tertiaryTextColor: #3F72AF;
    --quaternaryTextColor: #184272;

    --linkColor: #3F72AF;
    --linkHoverColor: #112D4E;

    --backgroundColor: #242424;
    --buttonPrimaryColor: #1a1a1a;
}