:root {
    --primaryColor: #1a1a1a;
    --secondaryColor: white;

    --primaryTextColor: #1a1a1a;
    --secondaryTextColor: white;
    --textInactiveColor: #888;

    --backgroundColor: #242424;

    --buttonPrimaryColor: #1a1a1a;
    --buttonHoverColor: #646cffaa;
    --buttonInactiveColor: #494848;

    --linkColor: #646cff;
    --linkHoverColor: #535bf2;
    --dropShadowColor: #646cffaa;

    --teamColor: #494848;

    --linkedinColor: #646cff;
    --linkedinHoverColor: rgb(90, 90, 255);
    --githubColor: darkorange;
    --githubHoverColor: rgb(233, 105, 0);

    --spotifyColor: #1db954;
    // --spotifyHoverColor: rgb(123, 253, 169);
    // --spotifyInactiveColor: #494848;
    --spotifySecondaryColor: #191414;

}