#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100dvh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--backgroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}


body::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar for Chrome/Safari/Webkit */
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  line-height: 0.1;
}

h4 {
  font-size: 1.2rem;
  line-height: 0.1;
}

a {
  font-weight: 500;
  color: var(--linkColor);
  text-decoration: inherit;
}

a:hover {
  color: var(--linkHoverColor);
}

button:hover:enabled {
  border-color: var(--buttonHoverColor);
}

button:focus:enabled,
button:focus-visible:enabled {
  outline: 0.2rem auto -webkit-focus-ring-color;
}

button {
  border-radius: 1rem;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--buttonPrimaryColor);
  cursor: pointer;
  transition: border-color 0.25s;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  min-height: 100dvh;
}
