.loaderoutercontainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(26, 26, 26, 0.5);
    z-index: 9999;

    .loaderinnercontainer {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .loader {
            width: 48px;
            height: 48px;
            border: 5px solid var(--linkColor);
            border-bottom-color: transparent;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: rotation 1s linear infinite;
            z-index: 9999;

        }
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}