.instructionContainer {
    width: 80%;
    padding: 2rem;
    overflow-y: auto;

    .instructionTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;

        .instructionLogoContainer {
            width: 22vw;
            height: auto;
            aspect-ratio: 3.33/1;

            .instructionLogo {
                width: 30vw;
                height: auto;
                aspect-ratio: 3.33/1;
                // height: 25rem;
                padding: 1.5em 0 0 0;
                will-change: filter;
                transition: filter 300ms;
                filter: drop-shadow(0 0 2rem var(--dropShadowColor));
                justify-self: right;
                // object-fit: cover; 
                // object-position: -100% -100%;
            }
        }

        .instructionDescription {
            justify-self: left;
            text-align: left;

            h2 {
                line-height: 0.5rem;
            }
        }
    }

    .instructionTable {
        table {
            width: 100%;
            border-spacing: 0;
            border-collapse: separate;
            border-radius: 1.5rem;
            border: 0.15rem solid var(--secondaryColor);
            // margin: 1rem;

            tr {

                td,
                th {
                    text-align: left;
                    padding: 1rem;
                }

                td:first-child {
                    text-align: center;
                    vertical-align: top;
                }

                // table rouder corners effect
                th:not(:last-child),
                td:not(:last-child) {
                    border-right: 0.15rem solid var(--secondaryColor);
                }

                th,
                &:not(:last-child)>td,
                thead:not(:last-child),
                tfoot:not(:last-child) {
                    border-bottom: 0.15rem solid var(--secondaryColor);
                }

                // tr:nth-child(even) {
                //     // background-color: #dddddd;
                // }
            }
        }

    }
}